<nav class='navbar'>
    <div class="brand-title">ALIVEAN</div>
    <div id='navbar-links' class="navbar-links">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/doctor/profile">Profile</a></li>
            <li><a href="/patients/create">Add Patient</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </div>
</nav>