<nav class='navbar'>
    <div class="brand-title">ALIVEAN</div>
    <div id='navbar-links' class="navbar-links">
        <ul>
            <li><a href="/Home">Home</a></li>
            <li><a href="/pprofile">Profile</a></li>
            <li><a href="/history">History</a></li>
            <li><a href="/pabout">About</a></li>
        </ul>
    </div>
</nav>