<!DOCTYPE html>
<html>
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="totalcontainer">
        <div class="image-container">
            <img src="https://i2.wp.com/learn.onemonth.com/wp-content/uploads/2017/08/1-10.png?fit=845%2C503&ssl=1" alt="OOPS!!404" style="margin-left: 15px; margin-top: 55px;">
        </div>
        <div class="text-container">
            <h1 style="text-align: center;">
                Looks like the page you're searching for doesn't exist!
            </h1>
            <p><h4 style="text-align: center;">
                Please go back to home page.
            </h4></p>
        </div>
    </div>
    

</body>
</html>