<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>
    <div class="main_wrapper">
        <div class="create-blog content">
            <form action='/patients' method='POST'>
                <label for="title">Patient Name:</label>
                <input type="text" id="title" name="title" required>
                <label for="dname">Doctor Name:</label>
                <input type="text" id="dname" name="dname" required>
                <label for="link">Link for images and scans : </label>
                <input type="text" id="link" name="link" required>
                <label for="snippet">Hospital Name:</label>
                <input type="text" id="snippet" name="snippet" required>
                <label for="med">Medicines prescribed:</label>
                <textarea id="med" required name="med"></textarea>
                <label for="body">Description:</label>
                <textarea id="body" required name="body"></textarea>
                <button>Submit</button>
            </form>
        </div>
    </div>
    
    <%- include('./partials/footer.ejs') %>
</body>

</html>