<!DOCTYPE html>
<html>

<head>
    <%- include('./partials/phead.ejs') %>
    <style>
        h2 {
            font-weight: bolder;
            font-size: 33px;
             margin-left: 10px;
        }
    </style>
</head>

<body>
    <%- include('./partials/pnav.ejs') %>
    <div class="main_wrapper">
        <h2>Previous treatments</h2>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>

</html>