<!DOCTYPE html>
<html>
<head>
    <%- include('./partials/head.ejs') %>
    <style>
        h2{
            font-weight: bolder;
            font-size: 33px;
        }
        p{
            padding-left: 20px;
        }
    </style>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
<div class="main_wrapper">
    <div class="aboutus">
        <h2>About Us</h2>
        <p> We are an organization aimed at revolutionizing the healthcare system by bringing together both 
            the service provider and the service seeker communities under one single roof. Our inception was
            driven by the passion of our founders, who felt that a universal database platform for all patients, irrespective
            of where they get treated from, was necessary to ensure an efficient diagnosis and cure.</p> 
        <h2>What we Do?</h2>
        <p>We make requesting appointment easier with the ability to contact any the hundreds of hospitals that we provide our
            services to. All the details regarding previous treatments of patients can be accessed by the doctors, giving them
            more tools to narrow down to the diagnosis faster.   
        </p>
    </div>
</div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>