<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Alivean</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel='stylesheet' type='text/css' media='screen' href='style.css'>
    <link rel="stylesheet" href="menu.css">
    <script src='main.js'></script>
</head>
<body>
    <div class="menu-wrap">
        <input type="checkbox" class="toggler">
        <div class="hamburger"><div></div></div>
        <div class="menu">
            <div>
                <div>
                    <ul>
                        <!--<li><a href="/home">Home</a></li>-->
                        <li><a href="/sabout">About</a></li>
                        <li><a href="/sservices">Services</a></li>
                        <li><a href="/scontact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <header class="showcase">
        <div class="container showcase-inner">
            <h1>Services</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis tenetur vel 
                assumenda doloremque sequi quo voluptatem quam odit? Molestias, aut!</p>
                <a href="/login" class="btn">Doctor's Login/Register</a>
                <a href="/plogin" class="btn">Patient's Login/Register</a>
        </div>
    </header>
</body>
</html>